<Definition name="App">
  <PropertyType key="width" type="float" />
  <PropertyType key="height" type="float" />
  <PropertyType key="onTapAddRow" type="any" />

  <Box width="$width" height="$height" paddingTop="60">
    <Text text="Add row" onTap="$onTapAddRow" />
    <TodoList flex="1" />
  </Box>
</Definition>
