#container {
  paddingTop: 40;
  fontSize: 20;
  textAlignment: center;
}
#todos {
  textAlignment: left;
}
#fieldContainer {
  flexDirection: row;
}
#button {
  backgroundColor: #eeeeee;
  width: 24;
  height: 24;
}
textfield {
  height: 24;
  flexGrow: 1;
}
