[submodule "ThirdParty/css-layout"]
	path = ThirdParty/css-layout
	url = https://github.com/facebook/css-layout.git
[submodule "ThirdParty/katana-parser"]
	path = ThirdParty/katana-parser
	url = https://github.com/hackers-painters/katana-parser
